{% extends 'navbar.html' %}
{% block title %}Plog - Korisnici{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">

        <div class="red col-12">
            <div class="blok zadnji">Email korisnika</div>
            <div class="blok zadnji">Ime korisnika</div>
            <div class="blok col-1">Rola</div>
            <div class="blok zadnji">Lokacija</div>
            <div class="blok col-1">Funkcija</div>

            <form>
                <button class="blok1" type="submit">
                    <i class="ikonica fa-solid fa-trash ikonica" style="color: #ff8a5b;"></i>
                </button>
            </form>
        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
        </div>

        {% for k in korisnici %}
        {% if k.rola != 'Admin' %}
        <div class="red col-12">
            <div class="blok zadnji">{{k.email}}</div>
            <div class="blok zadnji">{{k.ime}}</div>
            <div class="blok col-1">{{k.rola}}</div>
            <div class="blok zadnji">{{k.lokacija}}</div>

            {% if k.rola == 'Proizvođač' %}
                <div class="blok col-1">Broj.proizvoda</div>
            {% elif k.rola == 'Logističar' %}
                <div class="blok col-1">Broj.magacina</div>
            {% elif k.rola == 'Kupac' %}
                <div class="blok col-1">Broj.porudzbina</div>
            {% endif %}

            <button class="blok2" data-bs-toggle="modal" data-bs-target="#brisanjeModal{{k.id}}">
                <i class="ikonica fa-solid fa-trash ikonica" style="color: #fff;"></i>
            </button>

                <!-- Modal -->
            <div class="modal" tabindex="-1" id="brisanjeModal{{k.id}}">
                <div class="modal-dialog modal-dialog-centered" data-bs-backdrop="static">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Upozorenje</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
                    </div>
                    <div class="modal-body">
                      <p>Da li ste sigurni da zelite da obrisete korisnika {{k.ime}}?</p>
                    </div>
                    <div class="modal-footer">
                        <form method="POST" action="{{ url_for('pregled_korisnika') }}">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
                      <button type="submit" class="btn btn-danger" name="izbrisi_korisnika" value="{{ k.id }}">Obriši</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Kraj modala -->
        </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% endblock %}