{% extends 'navbar.html' %}
{% block title %}Plog - Magacin{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">

            <div class="blok zadnji">
                Ime skladista 
            </div>
            <div class="blok zadnji">
                Lokacija skladista
            </div>
            <div class="blok col-2">
                Kapacitet
            </div>
            <div class="blok col-1">
                Popunjenost
            </div>
            <div class="blok1 sabmit" style="width:fit-content;">
                <i class="fa-solid fa-pen ikonica" style="color: #ff8a5b;"></i>
            </div>

        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
        </div>

        <div class="red col-12">

            <input class="blok zadnji" value="{{ skladiste.ime }}">
            <input class="blok zadnji" value="{{ skladiste.lokacija }}">
            <input class="blok col-2" value="{{ skladiste.kapacitet }}">
            <div class="blok col-1">{%if skladiste.popunjenost == None%} Prazan {%else%} {{skladiste.popunjenost}} {%endif%} </div>

            <form action="azuriraj_kapacitet" method="get" style="margin-right: 15px;">
                <button class="blok2 sabmit zadnji" type="submit">
                    <i class="fa-solid fa-pen" style="color: #fff;"></i>
                </button>
            </form>

        </div>
    </div>
    {% for p in proizvodi %}
    <div class="kontejner">
        <div class="red col-12">
            <form style="margin-left: 0; margin-right: 15px;" action="izbrisi_proizvod_iz_skladista, proizvod_id=p.id, skladiste_id=skladiste['id'])" style="margin-left: 15px;">
                <button class="blok2 sabmit" type="submit">
                    <i class="fa-solid fa-trash" style="color: #fff;"></i>
                </button>
            </form>

            <div class="blok zadnji">
                {{ p.ime }}
            </div>

            <div class="blok zadnji">
                {{ p.kategorija }}
            </div>

            <div class="blok zadnji">
                {{ p.proizvodjac_ime }}
            </div>

            <form action="izmeni_kolicinu" method="get" class="red">
                    <input class="blok" id="izmeni_kolicinu" min="1" name="izmeni_kolicinu" value="{{p.kolicina}}" type="number">

                <button class="blok2 sabmit" type="submit">
                    <i class="fa-solid fa-pen ikonica" style="color: #fff;"></i>
                </button>
            </form>

        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}