{% extends 'navbar.html' %}
{% block title %}Plog - Magacin{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">
           {% for s in skladiste %}
            <div class="blok zadnji">
                {{ s.ime }} 
        
            </div>
            <div class="blok zadnji">
                {{ s.lokacija }} 
               
            </div>
            <div class="blok col-2">
                {{ s.kapacitet }} 
               
            </div>
            <form action="#" method="get" style="margin-right: 15px;">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </form>
         {% endfor %} 
        </div>
    </div>
    <div class="kontejner">
        <div class="red col-12">
            
            <form style="margin-left: 0; margin-right: 15px;" action="#" method="get" style="margin-left: 15px;">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-circle-xmark"></i>
                </button>
            </form>

            <div class="blok zadnji">
                proizvod.ime
            </div>

            <div class="blok zadnji">
                proizvod.kategorija
            </div>

            <div class="blok zadnji">
                proizvod.proizvodjac_naziv
            </div>

            <div class="col-1" style="margin-right: 15px;">
                <div class="blok upit">

                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                    </button>
            
                    <div>
                        <input id="form1" min="1" name="quantity" value="1" type="number">
                    </div>
            
                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                </div>
            </div>

            <form action="#" method="get" style="margin-right: 15px;">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock %}