{% extends 'navbar.html' %}
{% block title %}Plog - Magacin{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">

        <div class="red col-12">
            <div class="blok zadnji">Ime skladista </div>
            <div class="blok zadnji">Lokacija skladista</div>
            <div class="blok col-1">Popunjenost</div>
                <div class="red zadnji">
                    <div class="blok zadnji">Kapacitet</div>
                    <div class="blok1 sabmit" style="width:fit-content;">
                    <i class="fa-solid fa-pen ikonica" style="color: #ff8a5b;"></i>
                </div>
            </div>
        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
        </div>

        <div class="red col-12">
            <div class="blok zadnji">{{ skladiste.ime }}</div>
            <div class="blok zadnji">{{ skladiste.lokacija }}</div>
            <div class="blok col-1">{% if skladiste.popunjenost == None %}Prazan{% else %}{{ skladiste.popunjenost }}{% endif %}</div>
        
            <form action="{{ url_for('magacin', skladiste_id=skladiste.id) }}" method="post" class="red zadnji">

                <input class="blok zadnji" name="nova_vrednost" id="nova_vrednost" value="{{ skladiste.kapacitet }}">

                <button class="blok2" type="submit" name="azuriraj_kapacitet">
                    <i class="fa-solid fa-pen ikonica" style="color: #fff;"></i>
                </button>

            </form>
        </div>        

    </div>

    {% for p in proizvodi %}
    <div class="kontejner">

        <div class="red col-12">

            <form action="{{ url_for('magacin', skladiste_id=skladiste.id) }}" method="post" style="margin-left: 0; margin-right: 15px;">
                <input type="hidden" name="izbrisi_proizvod" value="{{ p.id }}">
                <button class="blok2 sabmit" type="submit">
                    <i class="fa-solid fa-trash" style="color: #fff;"></i>
                </button>
            </form>

            <div class="blok zadnji">{{ p.ime }}</div>
            <div class="blok zadnji">{{ p.kategorija }}</div>
            <div class="blok zadnji">{{ p.proizvodjac_ime }}</div>

            <form action="{{ url_for('magacin', skladiste_id=skladiste.id) }}" method="post" class="red">
                <input class="blok" id="nova_kolicina" min="1" name="nova_kolicina" value="{{ p.kolicina }}" type="number">
                <button class="blok2 sabmit" type="submit" name="azuriraj_kolicinu_proizvoda">
                    <i class="fa-solid fa-pen ikonica" style="color: #fff;"></i>
                </button>
            </form>

        </div>
    </div>
    {% endfor %}
    
</div>
{% endblock %}