{% extends 'navbar.html' %}
{% block title %}Plog - Moj magacin{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">
            <div class="blok col-4">
                Ime skladista 
            </div>
            <div class="blok col-4">
                Lokacija skladista
            </div>
            <div class="blok zadnji">
                Kapacitet
            </div>
            <div class="blok zadnji">
                Popunjenost
            </div>
            <div class="blok1">
                <i class="fa-solid fa-pen ikonica" style="color: #ff8a5b; "></i>
            </div>
        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>
        {% for s in skladiste %}
        <div class="red col-12">

            <div class="blok col-4">
                {{ s.ime }}
            </div>

            <div class="blok col-4">
                {{ s.lokacija }}
            </div>

            <div class="blok zadnji">
                {{ s.kapacitet }}
            </div>
            <div class="zadnji blok">{%if s.popunjenost == None%} Prazan {%else%} {{s.popunjenost}} {%endif%}</div>
            <div style="margin-right: 15px;">
                <form method="POST" action="{{ url_for('magacin', skladiste_id=s.id ) }}">
                    <button class="blok2 zadnji" type="submit">
                        <i class="fa-solid fa-pen" style="color: #fff;"></i>
                    </button>
                </form>
            </div>
            
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}