{% extends 'navbar.html' %}
{% block title %}Plog - Moj magacin{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        {% for s in skladista %}
        <div class="red col-12">

            <div class="blok col-4">
                {{ s.ime }}
            </div>

            <div class="blok col-4">
                {{ s.lokacija }}
            </div>

            <div class="blok zadnji">
                {{ s.kapacitet }}
            </div>

            <div style="width: 100px; margin-right: 15px;">
                <form action="/logisticar/magacin" method="get">
                    <button class="blok sabmit" type="submit">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </form>
            </div>
            
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}