{% extends 'navbar.html' %}
{% block title %}Plog - Moj magacin{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">

        <div class="red col-12">

            <div class="blok" style="width: 200px;">
                id
            </div>

            <div class="blok col-4">
                magacin.naziv
            </div>

            <div class="blok col-4">
                magacin.lokacija
            </div>

            <div class="blok zadnji">
                magacin.kapacitet/popunjenost
            </div>

            <div style="width: 100px; margin-right: 15px;">
                <form action="/logisticar/magacin" method="get">
                    <button class="blok sabmit" type="submit">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}