{% extends 'navbar.html' %}
{% block title %}Plog - Novi magacin{% endblock %}
{% block content %}

<div class="display">
    <div class="kontejner">

        <div class="red col-12">

            <div class="blok col-4">
                magacin.naziv
            </div>

            <div class="col-4 vlaga">
                <select class="magacin-select blok col-12" aria-label="Default select example">
                    <option selected disabled>Izaberite lokaciju</option>
                    <option value="1">lokacija1</option>
                    <option value="2">lokacija2</option>
                    <option value="3">lokacija3</option>
                    <option value="4">lokacija4</option>
                </select>
            </div>

            <div class="upit zadnji">
                <div class="blok upit">

                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                    </button>
            
                    <div>
                        <input id="form1" min="1" name="quantity" value="1" type="number">
                    </div>
            
                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                </div>
            </div>

            <div class="red slag zadnji">
                <form action="#" method="get">
                    <button class="blok sabmit" type="submit">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}