{% extends 'navbar.html' %}
{% block title %}Plog - Novi magacin{% endblock %}
{% block content %}

<div class="display">
    <div class="kontejner">

            <form action="{{ url_for('novi_magacin') }}" class="red col-12" method="POST">

            <div class="col-4 vlaga">
                <input class="magacin-select blok col-12" type="text" name="magacinNaziv" placeholder="Unesite naziv" required>
            </div>

            <div class="col-4 vlaga">
                    <input class="magacin-select blok col-12" name="magacinLokacija" type="text" placeholder="Unesite lokaciju" required>
            </div>

            <div class="upit">
                <div class="blok upit">

                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                    </button>
            
                    <div>
                        <input id="form1" name="magacinKapacitet" min="1" max="100000" name="quantity" value="1" type="number" required>
                    </div>
            
                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fa-solid fa-plus"></i>
                    </button>

                </div>
            </div>

            <div class="red slag zadnji">
                    <button class="blok sabmit" type="submit">
                        <i class="fa-solid fa-plus"></i>
                    </button>
            </div>
        </form> 
    </div>
</div>

{% endblock %}