{% extends 'navbar.html' %}
{% block title %}Plog - Novi magacin{% endblock %}
{% block content %}

<div class="display">
    <div class="kontejner">

            <form action="{{ url_for('novi_magacin') }}" class="red col-12" method="POST">

            <div class="col-4 vlaga">
                <input class="magacin-select blok col-12" type="text" name="magacinNaziv" placeholder="Unesite naziv" required>
            </div>

            <div class="col-4 vlaga">
                    <input class="magacin-select blok col-12" name="magacinLokacija" type="text" placeholder="Unesite lokaciju" required>
            </div>

            <div class="zadnji vlaga" style="margin-right:-15px;">
                <div>
                    <input class="blok" id="form1" name="magacinKapacitet" min="1" max="100000" name="quantity" value="1" type="number" required>
                </div>
            </div>

            <button class="blok2 sabmit" type="submit" class="red slag" style="margin-left:-2px; width:fit-content;">
                <i class="fa-solid fa-plus ikonica" style="color:#fff;"></i>
            </button>
        </form> 

    </div>
</div>

{% endblock %}