{% extends 'navbar.html' %}
{% block title %}Plog - Porudžbine{% endblock %}
{% block content %}
<div class="display">

    <div class="kontejner">
        <form method="GET" action="{{ url_for('porudzbine_korisnik') }}">

            <select class="blok col-2" name="isporuceno" id="isporuceno">
                <option value="0">Na čekanju</option>
                <option value="1">Isporučeno</option>
            </select>

            <select class="blok col-2" name="datum" id="datum">
                <option value="asc">Datum - Stariji</option>
                <option value="desc">Datum - Noviji</option>
            </select>
            
            <button class="blok col-1" type="submit">Primeni</button>
        </form>
    </div>

    <div class="kontejner">
        <div class="red col-12">
            <div class="blok1">
                <i class="fa-solid fa-hourglass-start ikonica" style="color: #ff8a5b;"></i>
            </div>
            <div class="blok zadnji">
                <strong>kol.</strong> x Naziv proizvoda (Proizvodjac)
            </div>
            <div class="blok col-2">
                Kupac
            </div>
            <div class="blok col-2">
                Datum
            </div>
            <div class="blok col-2">
                Lokacija kupca
            </div>
            <div class="blok col-2">
                Skladiste
            </div>
        </div>
    </div>

    {% for p in porudzbina %}
        <div class="kontejner">
            <form method="POST" action="{{ url_for('isporuci', porudzbina_id=p['porudzbina_id']) }}">
                <div class="red col-12">
                    <div>
                        {% if p['isporuceno'] == 0 %}
                        <button class="blok" type="submit" name="isporuceno" value="1">
                            <i class="fa-solid fa-paper-plane ikonica"></i>
                        </button>
                        {% else %}
                        <div class="blok">
                            <i class="fa-solid fa-check ikonica"></i>
                        </div>
                        {% endif %}
                    </div>
                    <div class="blok zadnji">
                        <strong>{{ p['kolicina'] }}</strong> x {{ p['proizvod_ime'] }} ( {{p['proizvodjac_ime']}} )
                    </div>
                    <div class="blok col-2">
                        {{ p['kupac_ime'] }}
                    </div>
                    <div class="blok col-2">
                        {{ p['d_datum'] }}
                    </div>
                    <div class="blok col-2">
                        {{ p['kupac_lokacija'] }}
                    </div>
                    <div class="blok col-2">
                        {{ p['skladiste_ime'] }} - {{p['skladiste_lokacija']}}
                    </div>
                </div>
                {% if p['napomena'] != '' %}
                <div class="red">
                    <div class="blok zadnji">
                        {{ p['napomena'] }}
                    </div>
                </div>
                {% endif %}
                <input type="hidden" name="porudzbina_id" value="{{ p['porudzbina_id'] }}">
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}