{% extends 'navbar.html' %}
{% block title %}Plog - Porudzbine{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        {% if porudzbina %}

         <div class="red">
            <div class="blok col-1">
                Kolicina
            </div>
            <div class="blok zadnji">
                Naziv proizvoda
            </div>
            <div class="blok zadnji">
                Naziv proizvodjaca
            </div>
            <div class="blok col-2">
                Naziv kupca
            </div>
            <div class="blok col-2">
                Lokacija
            </div>
            <form style="margin-right: 15px;" method="post">
                <button class="blok zadnji" style="background-color:#ff8a5b;" type="submit">
                    <i style="color: #ff8a5b;" class="fa-solid fa-paper-plane ikonica"></i>
               </button>
           </form>
         </div>

         <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>

         {% for por in porudzbina %}
         <div class="red col-12">
             
             <div class="blok col-1">
                 {{ por.kolicina }}
             </div>
             <div class="blok zadnji">
                 {{ por.proizvod_ime }}
             </div>
             <div class="blok zadnji">
                 {{ por.proizvodjac_ime }}
             </div>
             <div class="blok col-2">
                 {{ por.kupac_ime }}
             </div>
             <div class="blok col-2">
                 {{ por.kupac_lokacija }}
             </div>
 
             <div>
                 <form style="margin-right: 15px;" method="post">
                     <button class="blok zadnji" type="submit">
                        {% if por.isporuceno == 0 %}
                            <i class="fa-solid fa-paper-plane ikonica"></i>
                        {% else %}
                            <i class="fa-solid fa-truck-fast"></i>
                        {% endif %}
                    </button>
                </form>
             </div>
         </div>
 
         <div class="red col-12">
             <div class="blok zadnji">
                 {{ por.napomena }}
             </div>
         </div>
    </div>
    {% endfor %}
    {% else %} 
    <div class="blok zadnji" style="align-items: center;">
        <h style="font-size: 50px;">Prazno za sada</h>
    </div>
   {% endif %}
</div>
{% endblock %}