{% extends 'navbar.html' %}

{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">
            <div class="blok">
                <i class="fa-solid fa-hourglass-start ikonica"></i>
            </div>
            <div class="blok col-1">
                kolicina
            </div>
            <div class="blok zadnji">
                proizvod.naziv
            </div>
            <div class="blok zadnji">
                proizvod.proizvodjac.naziv
            </div>
            <div class="blok col-2">
                korisnik.ime
            </div>
            <div class="blok col-2">
                korisnik.lokacija
            </div>
            <form action="#" style="margin-right: 15px;" method="post">
                <button class="blok zadnji" type="submit">
                    <i class="fa-solid fa-paper-plane ikonica"></i> 
                </button>
            </form>
        </div>
        <div class="red col-12">
            <div class="blok">
                <i class="fa-solid fa-truck-fast ikonica"></i>
            </div>
            <div class="blok col-1">
                kolicina
            </div>
            <div class="blok zadnji">
                proizvod.naziv
            </div>
            <div class="blok zadnji">
                proizvod.proizvodjac.naziv
            </div>
            <div class="blok col-2">
                korisnik.ime
            </div>
            <div class="blok col-2">
                korisnik.lokacija
            </div>
            <form style="margin-right: 15px;" method="post">
                <button class="blok zadnji" type="submit">
                    <i class="fa-solid fa-circle-check ikonica"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}