{% extends 'navbar.html' %}
{% block title %}Plog - Magacin{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="pozadina" style="margin-bottom: 0px;">
            <div class="red col-12">
                {% for s in skladista %}
                <div class="blok col-3">
                    {{ s.ime }}
                </div>
        
                <div class="blok col-3">
                    {{ s.lokacija }}
                </div>
    
                <div class="blok col-3">
                    {{ s.kapacitet }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="kontejner">
        <div class="pozadina" style="margin-right: 0px; margin-bottom: 0px;">
        <div class="red col-12">
                
            <form style="margin-left: 0; margin-right: 15px;" action="#" method="get" style="margin-left: 15px;">
                <button class="blok2 sabmit" type="submit">
                    <i class="fa-solid fa-trash" style="color: #fff;"></i>
                </button>
            </form>
        
            <div class="blok col-3">
                proizvod.naziv
            </div>
        
            <div class="blok col-3">
                proizvod.kategorija
            </div>
    
            <div class="blok col-3">
                proizvod.cena
            </div>
        
            <div style="width: 100%;">
                <div class="blok upit">
        
                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                        <i class="fas fa-minus"></i>
                    </button>
            
                    <div>
                        <input id="form1" min="1" name="quantity" value="1" type="number">
                    </div>
            
                    <button class="dugmic" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
        
                </div>
            </div>
        
            <form action="#" method="get" style="margin-right: 15px; margin-left: 15px;">
                <button class="blok2 sabmit" type="submit">
                    <i class="fa-solid fa-pen" style="color:#fff;"></i>
                </button>
            </form>
    
        </div>
    
        <div class="red col-12">
            <form action="#" method="get" style="margin-right: 15px;">
                <button class="blok2 sabmit" type="submit">
                    <i class="fa-solid fa-plus" style="color:#fff;"></i>
                </button>
            </form>
            <div class="col-3 vlaga">
                <select class="magacin-select blok col-12" aria-label="Default select example">
                    <option selected disabled>Dodajte proizvod</option>
                    <option value="1">proizvod1</option>
                    <option value="2">proizvod2</option>
                    <option value="3">proizvod3</option>
                    <option value="4">proizvod4</option>
                </select>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}