{% extends 'navbar.html' %}
{% block title %}Plog - Magacini{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">

            <div class="blok col-4">
                Ime skladista
            </div>

            <div class="blok col-4">
                Lokacija
            </div>

            <div class="blok zadnji">
                Kapacitet
            </div>
            </div>
            <div style="margin-left: 15px; margin-bottom: -15px;">
                <hr class="zubor">
             </div>
        {% for s in skladista %}
        <div class="red col-12">

            <div class="blok col-4">
                {{ s.ime }}
            </div>

            <div class="blok col-4">
                {{ s.lokacija }}
            </div>

            <div class="blok zadnji">
                {{ s.kapacitet }}
            </div>

            <div style="width: 100px; margin-right: 15px;">
                <form action="{{ url_for('napuni_magacin', skladiste_id= s.id) }}" method="get">
                    <button class="blok2 sabmit" type="submit">
                        <i class="fa-solid fa-eye" style="color: #fff;"></i>
                    </button>
                </form>
            </div>
            
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}