{% extends 'navbar.html' %}
{% block title %}Plog - Novi proizvod{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">

            <div class="blok col-4">
                <form method="POST">
                <input type="text" name="proizvodIme" placeholder="Ime proizvoda" required>
            </div>
            <div class="col-3 vlaga">
                <input class="magacin-select blok col-12" type="text" name="kategorijaIme" placeholder="Kategorija" required>
            </div>
            <div class="blok zadnji">
                <input type="number" min="1" name="proizvodKolicina" placeholder="Kolicina"required>
            </div>
            <div class="blok zadnji">
                <input type="number" step="any" min="1" name="proizvodCena" placeholder="Cena" required>
            </div>
                <button action="{{ url_for('novi_proizvod') }}" class="blok sabmit" type="submit">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}