{% extends 'navbar.html' %}
{% block title %}Proizvođač{% endblock %}

{% block logo %}href="/proizvodjac"{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">

            <div class="blok col-4">
                proizvod.naziv
            </div>
            <div class="col-3 vlaga">
                <select class="magacin-select blok col-12" aria-label="Default select example">
                    <option selected disabled>Izaberite kategoriju</option>
                    <option value="1">kategorija1</option>
                    <option value="2">kategorija2</option>
                    <option value="3">kategorija3</option>
                    <option value="4">kategorija4</option>
                </select>
            </div>
            <div class="blok zadnji">
                proizvod.cena
            </div>
            <div class="blok zadnji">
                proizvod.kolicina
            </div>
            <form style="margin-right: 15px;" action="#" method="get">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}