{% extends 'navbar.html' %}
{% block title %}Korisnik{% endblock %}

{% block logo %}href="/proizvodjac"{% endblock %}

{% block links %}
<form class="link" action="/novi-proizvod" method="get">
    <button class="bezista" type="submit">Novi proizvod</button>
</form>
<form class="link" action="/prikazi-proizvode" method="get">
    <button class="bezista" type="submit">Pregled proizvoda</button>
</form>
<form class="link" action="/prikazi-magacine" method="get">
    <button class="bezista" type="submit">Pregled magacina</button>
</form>
<form class="link" action="/prikazi-porudzbine" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
{% endblock %}

{% block content %}

{% endblock %}