{% extends 'navbar.html' %}
{% block title %}Plog - Porudzbine{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        {% if porudzbine %}
        <div class="red col-12">
            <div class="blok col-1">
                Količina
            </div>
            <div class="blok zadnji">
                Ime proizvoda
            </div>
            <div class="blok zadnji">
                Cena porudžbine
            </div>
            <div class="blok zadnji">
                Ime kupca
            </div>
            <div class="blok zadnji">
                Lokacija kupca
            </div>
            <div class="blok1">
                 <i class="fa-solid fa-hourglass-start ikonica" style="color: #ff8a5b;"></i>
            </div>
        </div>
        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>
         {% for p in porudzbine %}
        <div class="red col-12">
            <div class="blok col-1">
                <strong>{{ p.kolicina }}</strong>
            </div>
            <div class="blok zadnji">
                {{ p.ime_proizvoda }}
            </div>
            <div class="blok zadnji">
                {{ p.cena * p.kolicina }}
            </div>
            <div class="blok zadnji">
                {{ p.ime }}
            </div>
            <div class="blok zadnji">
                {{ p.lokacija }}
            </div>
            <div class="blok">
                {% if p.isporuceno == 0 %}
                 <i class="fa-solid fa-hourglass-start ikonica"></i>
             {% else %}
                 <i class="fa-solid fa-truck-fast ikonica"></i>
             {% endif %}
            </div>
        </div>
        {% endfor %}
        {% else %}
            <div class="blok">
                <h1>Trenutno nema dostupnih porudžbina</h1>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}