{% extends 'navbar.html' %}
{% block title %}Plog - Porudzbine{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">
            <div class="blok col-1">
                Kolicina
            </div>
            <div class="blok zadnji">
                Ime proizvoda
            </div>
            <div class="blok zadnji">
                Cena porudzbine
            </div>
            <div class="blok zadnji">
                Ime kupca
            </div>
            <div class="blok zadnji">
                Lokacija kupca
            </div>
        </div>
        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>
         {% for p in porudzbine %}
        <div class="red col-12">
            <div class="blok col-1">
                {{ p.kolicina }}
            </div>
            <div class="blok zadnji">
                {{ p.ime_proizvoda }}
            </div>
            <div class="blok zadnji">
                {{ p.cena }}
            </div>
            <div class="blok zadnji">
                {{ p.ime }}
            </div>
            <div class="blok zadnji">
                {{ p.lokacija }}
            </div>
            <div class="blok vlaga">
                {% if p.isporuceno == 0 %}
                 <i class="fa-solid fa-hourglass-start ikonica"></i>
             {% else %}
                 <i class="fa-solid fa-truck-fast"></i>
             {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}