{% extends 'navbar.html' %}
{% block title %}Proizvodjac{% endblock %}

{% block logo %}href="/proizvodjac"{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">
            <div class="blok">
                <i class="fa-solid fa-hourglass-start ikonica"></i>
            </div>
            <div class="blok col-1">
                kolicina
            </div>
            <div class="blok zadnji">
                proizvod.naziv
            </div>
            <div class="blok zadnji">
                porudzbina.cena
            </div>
            <div class="blok zadnji">
                korisnik.ime
            </div>
            <div class="blok zadnji">
                korisnik.lokacija
            </div>
        </div>
        <div class="red col-12">
            <div class="blok">
                <i class="fa-solid fa-truck-fast ikonica"></i>
            </div>
            <div class="blok col-1">
                kolicina
            </div>
            <div class="blok zadnji">
                proizvod.naziv
            </div>
            <div class="blok zadnji">
                porudzbina.cena
            </div>
            <div class="blok zadnji">
                korisnik.ime
            </div>
            <div class="blok zadnji">
                korisnik.lokacija
            </div>
        </div>
    </div>
</div>
{% endblock %}