{% extends 'navbar.html' %}
{% block title %}
  Plog - Proizvod
{% endblock %}
{% block content %}
  <div class="display">
    <div class="kontejner">
      <div class="pozadina">
        <form method="POST">
          <div class="red col-12" style="padding-right: 15px; padding-bottom: 15px;">
            <div style="margin-right: 15px;">
              <button class="blok2 sabmit" type="submit" name="azuriraj_proizvod">
                <i class="fa-solid fa-pen" style="color:#fff;"></i>
              </button>
            </div>
            <div class="vlaga col-3">
              <input class="blok col-12" name="prIme" type="text" value="{{ proizvod.ime }}" />
            </div>
            <div class="vlaga col-3">
              <input class="blok col-12" type="text" name="prKategorija" value="{{ proizvod.kategorija }}" />
            </div>

            <div class="vlaga zadnji">
              <input class="blok col-12" type="text" name="prCena" value="{{ proizvod.cena }}" />
            </div>
          </div>
          {% if proizvod.opis != '' %}
            <div class="red col-12" style="padding-right: 15px; padding-bottom: 15px; margin-top: -15px;">
              <div class="vlaga zadnji">
                <input class="blok col-12" type="text" name="prOpis" value="{{ proizvod.opis }}" />
              </div>
            </div>
          {% endif %}
        </form>
      </div>
    </div>

    <div class="kontejner">
      {% for sk in skladiste %}
        <div class="red col-12">

          <form method="POST" action="{{ url_for('proizvod', proizvod_id = proizvod.id, skladiste_id=sk.id) }}">
            <button class="blok2" name='brisanje_iz_skladista'>
              <i class="fa-solid fa-trash ikonica"  style="color: #fff;"></i>
            </button>
            <input hidden name="skladiste_id" value="{{sk.id}}">
          </form>

          <div class="blok col-3">{{ sk.ime }}</div>

          <div class="blok col-3">{{ sk.lokacija }}</div>

          <div class="blok col-3">{{ sk.kapacitet }}</div>

        </div>
      {% endfor %}
      <form method="POST" action="{{ url_for('proizvod', proizvod_id = proizvod.id) }}" style="margin-right: 15px;" class="red col-12">
        <button class="blok2" type="submit" name="dodavanje">
          <i class="fa-solid fa-plus ikonica" style="color: #fff;"></i>
        </button>

        <select class="blok col-3" name="izabrano_skl" required>
          {%if sva_skladista%}
            <option selected disabled>Dodajte u magacin</option>
          {% for skl in sva_skladista %}
            <option value="{{ skl.id }}">{{ skl.ime }} - {{ skl.lokacija }} ({{ skl.dostupan_kapacitet }})</option>
          {% endfor %}
          {%else%}
            <option disabled selected>Nema dostupnih skladista</option>
          {%endif%}
        </select>
        <input class="blok" id="form1" min="0" placeholder="Kolicina" name="kolicina" type="number" style="width: 310px;" required>
      </form>
    </div>
    <div class="kontejner">
      <label for="slika">
        <img {% if proizvod.slika %}
        src="/static/uploads/{{ proizvod.slika }}"
        {% else %}
        src="/static/uploads/placeholder.png"
        {% endif %}
        id="slika_pregled"/>
        </label>
        <label for="slika" class="btn btn-primary">Odaberi sliku</label>
        <input type="file" accept="image/*" class="custom-file-input" hidden
        id="slika" name="slika">

    </div>
  </div>
{% endblock %}