{% extends 'navbar.html' %}
{% block title %}Plog - Magacin{% endblock %}
{% block content %}
<div class="display">
    
    <div class="kontejner">
        <div class="red">
            <div class="naslov-blok">
                <h1>{{skladiste.logisticar_ime}} - {{skladiste.lokacija}}</h1>
            </div>
        </div>
    </div>

    <div class="kontejner">
        <form method="GET" action="{{ url_for('prikazi_magacin', skladiste_id=skladiste.id) }}">
            <select class="blok col-3" name="kategorija" id="kategorija">
                <option value="">Sve kategorije</option>

                {% for kategorija in sve_kategorije %}
                    <option value="{{ kategorija }}">{{ kategorija }}</option>
                {% endfor %}
                
            </select>

            <select class="blok col-2" name="sortiranje" id="sortiranje">
                <option value="asc">Cena - Rastuće</option>
                <option value="desc">Cena - Opadajuće</option>
            </select>
            
            <button class="blok col-1" type="submit">Primeni</button>
        </form>
    </div>

    <div class="kontejner">

        <div class="red" style="padding-right:15px;">
            <div class="blok col-3">
                Naziv
            </div>
            <div class="blok col-3">
                Proizvodjač
            </div>
            <div class="blok col-2">
                Kategorija
            </div>
            <div class="blok zadnji">
                Cena
            </div>
            <div class="blok zadnji">
                Na stanju
            </div>
            <div class="blok1" style="margin-right: -15px;">
                <a>
                    <i class="fa-solid fa-eye ikonica" style="color:#ff8a5b;"></i>
                </a>
            </div>
        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>

        {% for p in proizvodi %}
        <div class="red col-12" style="padding-right: 15px;">
            <div class="blok col-3">
                {{ p.ime }}
            </div>
            <div class="blok col-3">
                {{ p.proizvodjac_ime }}
            </div>
            <div class="blok col-2">
                {{ p.kategorija }}
            </div>
            <div class="blok zadnji">
                {{ p.cena }}
            </div>
            <div class="blok zadnji">
                {{ p.broj_proizvoda }}
            </div>
            <div class="blok2" style="margin-right: -15px;">
                <a href="{{ url_for('kupi_proizvod', proizvod_id=p.id) }}">
                    <i class="fa-solid fa-eye ikonica" style="color:#fff;"></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}