{% extends 'navbar.html' %}

{% block content %}
<div class="display">

    <div class="kontejner">
        <div class="red col-12" style="padding-right: 15px;">
            <div class="col-3 vlaga">
                <select class="magacin-select blok col-12" aria-label="Default select example">
                    <option selected disabled>Lokacija</option>
                    <option value="1">lokacija1</option>
                    <option value="2">lokacija2</option>
                </select>
            </div>
    
            <form action="#" method="get">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-check"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="kontejner">
        <div class="red col-12" style="padding-right: 15px;">
            <div class="blok zadnji">
                magacin.naziv
            </div>
            <div class="blok col-4">
                logisticar.naziv
            </div>
            <div class="blok col-3">
                magacin.lokacija
            </div>
            <form action="/kupac/magacin" method="get">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}