{% extends 'navbar.html' %}
{% block title %}Korisnik{% endblock %}

{% block logo %}href="/kupac"{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12" style="padding-right: 15px;">
            <div class="blok zadnji">
                magacin.proizvod.naziv
            </div>
            <div class="blok col-3">
                magacin.proizvod.kategorija
            </div>
            <div class="blok col-3">
                magacin.proizvod.cena
            </div>
            <div class="blok col-2">
                magacin.proizvod.kolicina
            </div>
            <form action="/kupac/proizvod" method="get">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}