{% extends 'navbar.html' %}
{% block title %}Plog - Magacini{% endblock %}
{% block content %}
<div class="display">

    <div class="kontejner">
        <form  method="GET" action="{{ url_for('prikaz_magacina') }}">
            <select class="blok col-3" name="lokacija" id="lokacija">
                <option value="">Odaberi lokaciju</option>

                {% for lokacija in sve_lokacije %}
                    <option value="{{ lokacija }}">{{ lokacija }}</option>
                {% endfor %}
                
            </select>
            
            <button class="blok col-1" type="submit">Primeni</button>
        </form>
    </div>

    <div class="kontejner">
        {% for s in skladiste %}
        <div class="red col-12" style="padding-right: 15px;">
            <div class="blok col-3">
                {{ s.ime }}
            </div>
            <div class="blok col-3">
                {{ s.logisticar_ime }}
            </div>
            <div class="blok col-3">
                {{ s.lokacija }}
            </div>
            <div class="blok zadnji">
                {{ s.kapacitet }}
            </div>
            {% for skladiste in skladiste %}
            <form action="{{ url_for('prikazi_magacin', skladiste_id=skladiste.id) }}" method="get">
                <button class="blok sabmit">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </form>
            {% endfor %}
        </div>
        {% endfor %}
</div>
{% endblock %}