{% extends 'navbar.html' %}
{% block title %}Plog - Porudzbine{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        <div class="red col-12">
            {% for p in porudzbina %}
             {% if postoji_porudzbina() %}
             <div class="blok">
                 <i class="fa-solid fa-hourglass-start ikonica"></i>
             </div>
             <div class="blok col-3">
                 {{ proizvod.naziv }}
             </div>
             <div class="blok col-3">
                 {{ proizvod.kategorija }}
             </div>
             <div class="blok zadnji">
                 {{ porudzbina.datum }}
             </div>
             <div class="blok zadnji">
                 {{ proizvod.cena }}
             </div>
             <div class="blok col-1">
                 {{ kolicina }}
             </div>
             {% else %}
             <div class="blok">
                 <h>Nemate porudzbine</h>
             </div>
             {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}