{% extends 'navbar.html' %}
{% block title %}Plog - Porudzbine{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
        {% if porudzbine %}
        <div class="red col-12">
            <div class="blok1">
                <i class="fa-solid fa-hourglass-start ikonica" style="color: #ff8a5b;"></i>
            </div>
            <div class="blok zadnji">
                Naziv proizvoda
            </div>
            <div class="blok zadnji">
                Naziv proizvodjaca
            </div>
            <div class="blok zadnji">
                Naziv skladista
            </div>
            <div class="blok col-2">
                Kategorija proizvoda
            </div>
            <div class="blok col-1">
                Datum
            </div>
            <div class="blok col-1">
                Cena (RSD)
            </div>
            <div class="blok col-1">
                Kolicina
            </div>
        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>
         {% for p in porudzbine %}
          <div class="red col-12">

            <div class="blok">    
             {% if p.isporuceno == 0 %}
                 <i class="fa-solid fa-hourglass-start ikonica"></i>
             {% else %}
                 <i class="fa-solid fa-truck-fast"></i>
             {% endif %}
            </div>

            <div class="blok zadnji">
                {{ p.proizvod_ime }}
            </div>
            <div class="blok zadnji">
                {{ p.proizvodjac_ime }}
            </div>
            <div class="blok zadnji">
                {{ p.skladiste_ime }}
            </div>
            <div class="blok col-2">
                {{ p.proizvod_kategorija }}
            </div>
            <div class="blok col-1">
                {{ p.datum }}
            </div>
            <div class="blok col-1">
                {{ p.cena * p.kolicina}}
            </div>
            <div class="blok col-1">
                {{ p.kolicina }}
            </div>
        </div>
        {% endfor %}
        {% else %} 
        <div class="blok zadnji" style="margin-right: 15px;">
            <h style="font-size: 50px;">Prazno za sada</h>
        </div>
       {% endif %}
    </div>
</div>
{% endblock %}