{% extends 'navbar.html' %}
{% block title %}Plog - Proizvodi{% endblock %}
{% block content %}
<div class="display">

    <div class="kontejner">
        <div class="pozadina">
            <div class="red col-12" style="padding-right: 15px; padding-bottom: 15px;">

                <div class="col-3 vlaga">
                    <select class="magacin-select blok col-12" aria-label="Default select example">
                        <option selected disabled>Kategorija</option>
                        <option value="1">kategorija1</option>
                        <option value="2">kategorija2</option>
                        <option value="3">kategorija3</option>
                        <option value="4">kategorija4</option>
                    </select>
                </div>

                <div class="col-2 vlaga">
                    <select class="magacin-select blok col-12" aria-label="Default select example">
                        <option selected disabled>Cena</option>
                        <option value="1">Rastuca</option>
                        <option value="2">Opadajuca</option>
                    </select>
                </div>

                <form action="#" method="get">
                    <button class="blok sabmit" type="submit">
                        <i class="fa-solid fa-check"></i>
                    </button>
                </form>
                
            </div>
        </div>
    </div>

    <div class="kontejner">
        <div class="red col-12" style="padding-right: 15px;">
            <div class="blok zadnji">
                proizvod.naziv
            </div>
            <div class="blok col-4">
                proizvod.kategorija
            </div>
            <div class="blok col-3">
                proizvod.cena
            </div>
            <form action="/kupac/proizvod" method="get">
                <button class="blok sabmit" type="submit">
                    <i class="fa-solid fa-eye"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}