{% extends 'navbar.html' %}
{% block title %}Plog - Proizvodi{% endblock %}
{% block content %}
<div class="display">

    <div class="kontejner">
        <form  method="GET" action="{{ url_for('prikaz_proizvoda') }}">
            <select class="blok col-3" name="kategorija" id="kategorija">
                <option value="">Sve kategorije</option>

                {% for kategorija in sve_kategorije %}
                    <option value="{{ kategorija }}">{{ kategorija }}</option>
                {% endfor %}
                
            </select>
            
            <select class="blok col-2" name="sortiranje" id="sortiranje">
                <option value="asc">Cena - Rastuće</option>
                <option value="desc">Cena - Opadajuće</option>
            </select>
            
            <button class="blok col-1" type="submit">Primeni</button>
        </form>
    </div>

    <div class="kontejner">

        <div class="red col-12" style="padding-right: 15px;">
            <div class="blok col-3">
                Naziv
            </div>
            <div class="blok col-3">
                Proizvodljac
            </div>
            <div class="blok col-3">
                Kategorija
            </div>
            <div class="blok zadnji">
                Cena (RSD)
            </div>
            <div class="blok1">
                <i lass="fa-solid fa-eye" style="color: #ff8a5b;"></i>
            </div>
        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>

        {% for proizvod in proizvodi %}
        <div class="red col-12" style="padding-right: 15px;">
            <div class="blok col-3">
                {{ proizvod.ime }}
            </div>
            <div class="blok col-3">
                {{ proizvod.proizvodjac_ime }}
            </div>
            <div class="blok col-3">
                {{ proizvod.kategorija }}
            </div>
            <div class="blok zadnji">
                {{ proizvod.cena }}
            </div>
            <a class="blok2 sabmit" style="width: fit-content; margin-right: -15px;" href="{{ url_for('kupi_proizvod', proizvod_id = proizvod.id) }}" method="GET">
                <i class="fa-solid fa-eye" style="color: #fff;"></i>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}