{% extends 'navbar.html' %}
{% block title %}Plog - Proizvod{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">

        <div class="red">

            {% for proizvod in proizvod %}
            <div class="blok col-3">
                {{ proizvod.ime }}
            </div>

            <div class="blok col-2">
                {{ proizvod.proizvodjac_ime }}
            </div>

            <div class="blok col-2">
                {{ proizvod.cena }}
            </div>
            {% endfor %}
            <form class="red" action="{{ url_for('poruci_proizvod', proizvod_id=proizvod.id) }}" method="post">
                <select class="blok zadnji" name="skladiste" required  type="submit">
                    <option selected disabled>Izaberi magacin</option>
                    {% for skladiste in skladista %}
                        <option value="{{ skladiste.id }}">{{ skladiste.logisticar_ime }} - {{ skladiste.lokacija }}</option>
                    {% endfor %}
                </select>
                
                <div class="col-3" style="height: 55px;">
                    <input name="kolicina" class="blok" required id="form1" min="1" value="1" type="number">
                </div>
                
                <button class="blok"  type="submit">
                    <i class="fa-solid fa-cart-shopping"></i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
