{% extends 'navbar.html' %}
{% block title %}Plog - Proizvod{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">

        <div class="red">
            <div class="blok col-3">
                Naziv proizvoda
            </div>
            <div class="blok col-2">
                Naziv proizvodjaca
            </div>
            <div class="blok col-2">
                Cena
            </div>
            <div class="blok red">
                Magacin
            </div>
            <div class="blok col-1">
                Kolicina
            </div>
            <button class="blok1" type="submit">
                <i class="fa-solid fa-cart-shopping" style="color: #ff8a5b;"></i>
            </button>
        </div>

        <div style="margin-left: 15px; margin-bottom: -15px;">
            <hr class="zubor">
         </div>

        <div class="red">

            {% for proizvod in proizvod %}
            <div class="blok col-3">
                {{ proizvod.ime }}
            </div>

            <div class="blok col-2">
                {{ proizvod.proizvodjac_ime }}
            </div>

            <div class="blok col-2">
                {{ proizvod.cena }}
            </div>
            <form class="red" action="{{ url_for('poruci_proizvod', proizvod_id = proizvod.id) }}" required method="post">
                <select class="blok zadnji" id="skladiste_id" name="skladiste_id" required>
                    <option selected disabled>Izaberi magacin</option>
                    {% for skladiste in skladista %}
                        <option value="{{ skladiste.id }}">{{ skladiste.logisticar_ime }} - {{ skladiste.lokacija }}</option>
                    {% endfor %}
                </select>

                <div class="col-3" style="height: 55px;">
                    <input name="kolicina" class="blok" required id="form1" min="1" max="{{ kolicina_proizvoda }}" value="1" type="number">
                </div>
                
                <button class="blok2"  type="submit" {% if not skladista %}disabled{% endif %}>
                    <i class="fa-solid fa-cart-shopping" style="color:#fff"></i>
                </button>
        </div>
            <div>
                <div class="red">
                    <input for="napomena" class="blok zadnji" type="text" name="napomena" placeholder="Napomena">
                </div>
            </form>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}

{% block skripte %}
{% endblock %}