{% extends 'navbar.html' %}
{% block title %}Plog - Izmeni{% endblock %}

{% block content %}

<div class="login-form" style="margin-top: 15%;">
    <form class="forma" method="POST">
        <div>
            <input type="text" class="form-control" name="imePolje" placeholder="Novo ime" required>
        </div>
        <div>
            <input type="password" class="form-control" name="pwPolje" placeholder="Stara sifra" required>
            <input type="password" class="form-control" name="pwNoviPolje" placeholder="Nova sifra" required>
        </div>
        <div>
            <input type="text" class="form-control"  name="lokacijaPolje" placeholder="Nova lokacija" required>
        </div>

        <div class="form-confirm">
                <button class="form-button" type="submit">Izmeni informacije</button>
        </div>
    </form>
</div>

{% endblock %}

