{% extends 'navbar.html' %}

{% if user.rola == 'korisnik' %}
{% block link %}
<form class="link" action="/korisnik/proizvodi" method="get">
    <button class="bezista" type="submit">Produkti</button>
</form>
<form class="link" action="/korisnik/magacini" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/korisnik/porudzbine" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}

{% elif user.rola == 'proizvodjac' %}
{% block link %}
<form class="link" action="/proizvodjac/novi-proizvod" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/proizvodjac/proizvodi" method="get">
    <button class="bezista" type="submit">Produkti</button>
</form>
<form class="link" action="/proizvodjac/magacini" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/proizvodjac/porudzbine" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}

{% elif user.rola == 'logisticar' %}
{% block link %}
<form class="link" action="/logisticar/novi-magacin" method="get">
    <button class="bezista" type="submit">Produkti</button>
</form>
<form class="link" action="/logisticar/moji-magacini" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/logisticar/porudzbine" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}