{% extends 'navbar.html' %}

{% if ulogovani_korisnik['user']['rola'] == 'Kupac' %}
{% block link %}
<form class="link" action="/kupac/proizvodi" method="get">
    <button class="bezista" type="submit">Proizvodi</button>
</form>
<form class="link" action="/kupac/magacini" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/kupac/porudzbine" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}

{% elif ulogovani_korisnik['user']['rola'] == 'Proizvodjac' %}
{% block link %}
<form class="link" action="/proizvodjac/novi-proizvod" method="get">
    <button class="bezista" type="submit">Novi proizvod</button>
</form>
<form class="link" action="/proizvodjac/moji-proizvodi" method="get">
    <button class="bezista" type="submit">Moji proizvodi</button>
</form>
<form class="link" action="/proizvodjac/magacini" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/proizvodjac/porudzbine" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}

{% elif ulogovani_korisnik['user']['rola'] == 'Logisticar' %}
{% block link %}
<form class="link" action="/logisticar/novi-magacin" method="get">
    <button class="bezista" type="submit">Novi magacin</button>
</form>
<form class="link" action="/logisticar/moji-magacini" method="get">
    <button class="bezista" type="submit">Moji magacini</button>
</form>
<form class="link" action="/logisticar/porudzbine" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}