{% extends 'navbar.html' %}
{% block korisnik %}
<form class="link" action="/prikaz-proizvoda" method="get">
    <button class="bezista" type="submit">Produkti</button>
</form>
<form class="link" action="/prikaz-magacina" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/porudzbine-korisnik" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}

{% block proizvodjac %}
<form class="link" action="/prikaz-proizvoda" method="get">
    <button class="bezista" type="submit">Produkti</button>
</form>
<form class="link" action="/prikaz-magacina" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/porudzbine-korisnik" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}

{% block logisticar %}
<form class="link" action="/prikaz-proizvoda" method="get">
    <button class="bezista" type="submit">Produkti</button>
</form>
<form class="link" action="/prikaz-magacina" method="get">
    <button class="bezista" type="submit">Magacini</button>
</form>
<form class="link" action="/porudzbine-korisnik" method="get">
    <button class="bezista" type="submit">Porudzbine</button>
</form>
<form class="link" action="/logout" method="get">
    <i class="fa-solid fa-right-from-bracket bezista"></i>
</form>
{% endblock %}
{% endblock %}