{% extends 'navbar.html' %}
{% block title %}Plog - Login{% endblock %}

{% block content %}
<div class="login-form" style="margin-top: 17%;">
    <form class="forma" method="POST">
        <div>
            <input type="text" name="emailPolje" class="form-control" placeholder="Korisničko ime" required>
        </div>

        <div>
            <input type="password" name="passwordPolje" class="form-control" placeholder="Šifra" required>
        </div>

        <div class="form-confirm1">
            <button class="form-button" type="submit">Ulogujte se</button>
        </div>
    </form>
</div>
{% endblock %}

{% block forma %}
<a href="/register" class="link">Registrujte se</a>
{% endblock %}