{% extends 'base.html' %}

{% block navbar %}
    <div id="sidebar">
        <div class="logotip">
            <a {% if user_data %}href="/pocetna"{% endif %}
               style="padding: 10px; background-color: #302b27; border-radius: 20px;">

                <img style="margin: 0;" class="logo" src="{{ url_for('static', filename='../static/img/ico1.svg') }}">
            </a>
            <h1 style="margin-left: 15px; margin-top: 7px;" class="tekst">Paket Hub</h1>
        </div>
        <div>
            {% if user_data %}
             <a style="height: 100%;" class="bezista link">{{ user_data.ime }} - {{ user_data.rola }}</a>
            {% endif %}
        </div>
        <div class="linkovi">
            {% if user_data %}

                {% if user_data['rola'] == 'Kupac' %}
                <a href="/kupac/proizvodi" class="bezista link" type="submit">Proizvodi</a>

                <a href="/kupac/magacini" class="bezista link" type="submit">Magacini</a>

                <a href="/kupac/porudzbine" class="bezista link" type="submit">Porudzbine</a>

                <a href="/logout" class="bezista link" type="submit">
                    <i class="fa-solid fa-right-from-bracket bezista"></i>
                </a>

                {% elif user_data['rola'] == 'Proizvođač' %}
                <a href="/proizvodjac/novi-proizvod" class="bezista link" type="submit">Novi proizvod</a>

                <a href="/proizvodjac/moji-proizvodi" class="bezista link" type="submit">Moji Proizvodi</a>

                <a href="/proizvodjac/magacini" class="bezista link" type="submit">Magacini</a>

                <a href="/proizvodjac/porudzbine" class="bezista link" type="submit">Porudzbine</a>

                <a href="/logout" class="bezista link" type="submit">
                    <i class="fa-solid fa-right-from-bracket bezista"></i>
                </a>

                {% elif user_data['rola'] == 'Logističar' %}
                <a href="/logisticar/novi-magacin" class="bezista link" type="submit">Novi magacin</a>

                <a href="/logisticar/moji-magacini" class="bezista link" type="submit">Moji magacini</a>

                <a href="/logisticar/porudzbine" class="bezista link" type="submit">Porudzbine</a>

                <a href="/logout" class="bezista link" type="submit">
                    <i class="fa-solid fa-right-from-bracket bezista"></i>
                </a>

                {% elif user_data['rola'] == 'Admin' %}
                <a href="/kupac/proizvodi" class="bezista link" type="submit">
                    <i class="fa-solid fa-user-tie"></i> Pro</a>

                <a href="/kupac/magacini" class="bezista link" type="submit">
                    <i class="fa-solid fa-user-tie"></i> Mag</a>

                <a href="/kupac/porudzbine" class="bezista link" type="submit">
                    <i class="fa-solid fa-user-tie"></i> Por</a>

                <a href="/proizvodjac/novi-proizvod" class="bezista link" type="submit">
                    <i class="fa-solid fa-industry"></i> Novp</a>

                <a href="/proizvodjac/moji-proizvodi" class="bezista link" type="submit">
                    <i class="fa-solid fa-industry"></i> Mojp</a>

                <a href="/proizvodjac/magacini" class="bezista link" type="submit">
                    <i class="fa-solid fa-industry"></i> Magp</a>

                <a href="/proizvodjac/porudzbine" class="bezista link" type="submit">
                    <i class="fa-solid fa-industry"></i> Porp</a>

                <a href="/logisticar/novi-magacin" class="bezista link" type="submit">
                    <i class="fa-solid fa-box"></i> Novm</a>

                <a href="/logisticar/moji-magacini" class="bezista link" type="submit">
                    <i class="fa-solid fa-box"></i> Mojm</a>

                <a href="/logisticar/porudzbine" class="bezista link" type="submit">
                    <i class="fa-solid fa-box"></i> Por</a>

                <a href="/logout" class="bezista link" type="submit">
                    <i class="fa-solid fa-right-from-bracket bezista"></i>
                </a>
                
                {% else %}{% endif %}{% endif %}
                {% block forma %}{% endblock %}
        </div>
    </div>
{% endblock %}
