{% extends 'navbar.html' %}
{% block title %}Plog - Pocetna{% endblock %}
{% block content %}
<div class="display">
    <div class="kontejner">
      <div class="red">
        <div class="naslov-blok">
            {% if user_data %}
              <h1>Dobrodošli, {{ user_data['ime'] }}!</h1>
              <h1>Email: {{ user_data['email'] }}</h1>
              <h1>Lokacija: {{ user_data['lokacija'] }}</h1>
              <h1>Rola: {{ user_data['rola'] }}</h1>
            {% else %}
              <h1>Niste ulogovani.</p>
            {% endif %} 
        </div>

        <div class="column">
          {% if user_data['rola'] == 'Kupac' %}
              <div class="blok" style="height: fit-content;">
                  <h1>Broj porudžbina: {{ ukupno_porudzbina }}</h1>
              </div>
              <div class="blok" style="height: fit-content;">
                  <h1>Neisporučenih: {{ neisporuceno }}</h1>
              </div>
          {% elif user_data['rola'] == 'Proizvođač' %}
              <div class="blok" style="height: fit-content;">
                  <h1>Broj artikala: {{ ukupno_proizvoda }}</h1>
              </div>
              <div class="blok" style="height: fit-content;">
                  <h1>U ukupno kategorija: {{ ukupno_kategorija }}</h1>
              </div>
          {% elif user_data['rola'] == 'Logističar' %}
              <div class="blok" style="height: fit-content;">
                  <h1>Ukupno magacina: {{ ukupno_skladista }}</h1>
              </div>
              <div class="blok" style="height: fit-content;">
                  <h1>U ukupno gradova: {{ ukupno_gradova }}</h1>
              </div>
          {% elif user_data['rola'] == 'Admin' %}
              <div class="blok" style="height: fit-content;">
                  <h1>Ukupno korisnika: {{ ukupno_korisnika }}</h1>
              </div>
          {% endif %}
          <div class="blok" style="height: fit-content;">
            <a style="text-decoration:none;" href="#"><h1>Izmeni nalog</h1></a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}