{% extends 'navbar.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-form" style="margin-top: 15%;">
    <form class="forma" method="POST" action="{{ url_for('register') }}">
        <div>
            <input type="email" class="form-control" name="emailPolje" placeholder="E-mail" required>
        </div>

        <div>
            <input type="text" class="form-control" name="imePolje" placeholder="Korisničko ime" required>
        </div>

        <div>
            <input type="password" class="form-control" name="passwordPolje" placeholder="Sifra" required>
        </div>
        <div>
            <input type="text" class="form-control" name="lokacijaPolje" placeholder="Lokacija" required>
        </div>

        <div class="form-confirm">
            <div>
                <select class="form-select" name="rola" required>
                    <option selected disabled>Tip naloga</option>
                    <option>Kupac</option>
                    <option>Logisticar</option>
                    <option>Proizvodjac</option>
                </select>
            </div>
            <div>
                <button class="form-button" type="submit">Registracija</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block forma %}
<a href="/login" class="link">Login</a>
{% endblock %}