{% extends 'base.html' %}

{% block content %}
  <button data-toggle="modal" data-target="#brisanjeModal">Pitisni me!</button>
<!-- Modal -->
<div class="modal" tabindex="-1" id="brisanjeModal">
    <div class="modal-dialog modal-dialog-centered" data-bs-backdrop="static">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upozorenje</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> 
        </div>
        <div class="modal-body">
          <p>Idi nazad ako si pametan 🤠.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
          <a href="{{ url_for('student_brisanje', id=student.id) }}" role="button" class="btn btn-danger">Obriši</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Kraj modala -->
  {% endblock %}


