{% extends 'base.html' %}
{% block title %}Test{% endblock %}

{% block navbar %}
    <div id="sidebar">
        <div class="linkovi" style="width: 100%;">
            <a style="margin-left: 0;" href="/kupac/proizvodi" class="bezista link " type="submit">Proizvodi</a>
            <a href="/kupac/magacini" class="bezista link " type="submit">Magacini</a>
            <a href="/kupac/porudzbine" class="bezista link " type="submit">Porudzbine</a>

            <a href="/proizvodjac/novi-proizvod" class="bezista link " type="submit">Novi proizvod</a>
            <a href="/proizvodjac/moji-proizvodi" class="bezista link " type="submit">Moji proizvodi</a>
            <a href="/proizvodjac/magacini" class="bezista link " type="submit">Magacini</a>
            <a href="/proizvodjac/porudzbine" class="bezista link " type="submit">Porudzbine</a>

            <a href="/logisticar/novi-magacin" class="bezista link " type="submit">Novi magacin</a>
            <a href="/logisticar/moji-magacini" class="bezista link " type="submit">Moji magacini</a>
            <a href="/logisticar/porudzbine" class="bezista link " type="submit">Porudzbine</a>

            <a href="/logout" class="bezista link" style="width: 3%;" type="submit">
                <i class="fa-solid fa-right-from-bracket bezista"></i>
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="column" style="margin-top: 19%;">

    <div style="margin-bottom: 43px;">
        <a class="link2" href="/kupac" method="get">Kupac</a>
    </div>
    <div style="margin-bottom: 43px;">
        <a class="link2" href="/proizvodjac" method="get">Proizvođač</a>
    </div>
    <div>
        <a class="link2" href="/logisticar" method="get">Logističar</a>
    </div style="margin-bottom: 43px;">
        
</div>
{% endblock %}